/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*Main Styles*/

*{
    margin: 0px 0px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    height: auto;
}

p {
    line-height: 2.0rem;
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem
}

h1 {
    font-size: 2.5rem;
}


   


/*header*/

header {
    height: 65px;
    display: flex;
    justify-content: center;
    background-color: rgba(87, 159, 211, 0.753);
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    position: fixed
}

header h1 {
    margin-left: 16px;
    color: white;
}

nav {
    display: flex;
    margin-right: 16px;
}

nav ul {
    display: flex;
}


nav ul li {
    margin-left: 32px;
    margin-right:32px;
    color: white;
}

nav ul li:hover {
    text-decoration: underline;
}

/*intro*/

#intro {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(17,57,93,0.4430147058823529) 0%, rgba(13,78,138,0.6867121848739496) 100%), url(../images/background_2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_container {
    width: 500px;
    height: 500px;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_container h1 {
    color: lightgray;
    font-family: 'Montserrat';
    font-weight: 400;
}

/*bio*/

#bio {
    margin: 16px 16px;
}

#bio h2 {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
    
}
#bio p {
    width: 800px;
    margin: auto;
}



